*{
    margin:0;
    padding:0;
  }
  h1{
     font-family:-apple-system, BlinkMacSystemFront, 'Segoe UI ', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 16px 21px;
   }
   h2{
     font-family:-apple system,BlinkMacSystem, 'Segoe UI,' , Robto, Oxygen,Ubuntu,Cantarell, 'Open Sans' , 'Helevetica Neue', sans-serif;
     font-size: 16px 21px;
   }
   li{
     font-family:-apple-system, BlinkMacSystem,"Segoe UI" , Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans' , 'Helvetica Neue' , sans-serf;
   }
   p{
     font-family:-apple-system, BlinkMacSystem,"Segoe UI" , Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans' , 'Helvetica Neue' , sans-serf;
  }
  img{
    padding: 14px 20px;
    image-resolution: 12px;
    border-image-width: 12px;
  }